<!DOCTYPE html>
<html>
  <head>
    <title>AoP</title>
    <style>
      html,body,div {
        margin: 0;
        background-color: black;
        z-index: 0;
        font-family: Verdana;
        color: rgb(255,255,255);
      }
      html,body {
        height: 100%;
      }
      img,div,span {
        display: block;
        position: absolute;
      }
    </style>
    <script src="/hls.min.js"></script>
    <script src="/jquery-3.7.1.min.js"></script>
    <script src="/bootstrap.js"></script>
    <script src="/hls-player.js"></script>
  </head>
  <body>
    <video id="tvvideo"
           style="z-index: 1; left: 0; top: 0; width: 100%; height: 100%; position: absolute;"
           src="<%= mainVideoURL %>"
           autoplay muted playsinline></video>

    <script>
      window.addEventListener('message', receiveFrameMessage);
      postFrameMessage({ type: 'loaded' });

      <%- script %>      
    </script>
  </body>
</html>