<!DOCTYPE html>
<html>
  <head>
    <title>AoP</title>
    <style>
      html,body,div {
        margin: 0;
        height: 100%;
        background-color: black;
        z-index: 0;
      }

      img, div {
        display: block;
        position: absolute;
      }

      .focused {
        transform: scale(1.15);
      }
    </style>
    <script src="/jquery-3.7.1.min.js"></script>
    <script src="/navigation.js"></script>
    <script src="/main.js"></script>
  </head>
  <body>
    <div id="content" style="width: 100%;">
      <%- content %>
    </div>
    
    <script>
      window.addEventListener('message', receiveFrameMessage);
      const CURRENT = '<%= current %>';

      <%- script %>
    </script>
  </body>
</html>