<span style="color: rgb(255,255,255); font-family: Verdana; font-size: 37px; position: absolute; top: 2%; left: 7%;">
  Switch to another Over-the-air Viewer Profile
</span>

<%- content %>

<span style="color: rgb(183,183,183); text-align: center; font-family: Verdana; position: absolute; top: 75%; left: 0; width: 100%;">
  In compliance with the General Data Protection Regulation (GDPR), each broadcaster will ask <br/>
  your permission if they wish to use your profile data or collect other personal data
</span>

<% if(showback){ %>
  <img id="back" moveup="profile0" moveright="settings" select="back" src="/media/back.png" style="z-index: 2; left: 3%; top: 85%; width: 300px; height: 75px;"/>
<% } %>

<img id="settings" moveup="profile0" moveleft="back" src="/media/settings.png" style="z-index: 2; left: 75%; top: 85%; width: 300px; height: 75px;"/>
