html,body,div {
  margin: 0;
  height: 100%;
  background-color: black;
  z-index: 0;
}

img {
  display: block;
  position: absolute;
}

.screen {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.focused {
  transform: scale(1.15);
}

#load {
  position: fixed;
  left: 50%;
  top: 50%;
  width: 259px;
  height: 194px;
  transform: translate(-50%, -50%);
}

.user {
  left: 86.90%;
  top: 3.70%;
  width: 16,98%;
  height: 9.26%;
  z-index: 4;
  position: absolute;
  color: rgb(183,183,183);
  background-color: transparent;
  text-align: center;
  font-family: Verdana;
  font-size: 12px;
}
.user img {
  height: 60px;
  margin: auto;
  position: relative;
  padding-left: 20px;
  display: inline;
}
.user span {
  margin-top: -60px;
  display: inline-block;
  vertical-align: middle;
}

.tv {
  width: 13.60%;
  height: 13.00%;
  z-index: 2;
}
#tvuff {
  left: 23.37%;
  top: 19.04%;
}
#tvcefet {
  left: 38.97%;
  top: 19.04%;
}
#tvufma {
  left: 54.07%;
  top: 19.04%;
}
#tvufjf {
  left: 69.17%;
  top: 19.04%;
}
#tvunb {
  left: 84.27%;
  top: 19.04%;
}
#tvufpb {
  left: 23.37%;
  top: 35.04%;
}
#tvpucrio {
  left: 38.97%;
  top: 35.04%;
}
#tvmakenzie {
  left: 54.07%;
  top: 35.04%;
}

.profile {
  width: 15.68%;
  height: 38.98%;
  position: absolute;
  color: rgb(183,183,183);
  text-align: center;
  font-family: Verdana;
  font-size: 28px;
}
.profile img {
  width: 140px;
  margin: auto;
  position: relative;
  padding-top: 35px;
  padding-bottom: 20px;
}
#profile0 {
  z-index: 2;
  left: 50.00%;
  top: 31.76%;
}
#profile1 {
  z-index: 2;
  left: 17.19%;
  top: 31.76%;
}
#profile2 {
  z-index: 2;
  left: 33.59%;
  top: 31.76%;
}

#back {
  z-index: 2;
  left: 3.13%;
  top: 86.48%;
  width: 20.89%;
  height: 9.26%;
}

#info {
  left: 32.45%;
  top: 71.94%;
  width: 65.36%;
  height: 14.63%;
}
#connect {
  left: 2.21%;
  top: 72.72%;
  width: 29.79%;
  height: 7.31%;
}
#tvvideo {
  display: block;
  position: absolute;
  left: 30.57%;
  top: 3.70%;
  z-index: 3;
}
#tvvideo.focused {
  transform: scale(1);
  border: 2px solid white;
}
#infobtn {
  left: 2.14%;
  top: 3.80%;
  width: 4.17%;
  height: 7.41%;
  z-index: 5;
}